body {
  width: 100vw;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

/*************** header ***************/
header {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.h-logo-div h3 {
  margin: 6% 0;
}

.h-logo-div h5 {
  margin: 0%;
}

.h-apps-div {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.h-apps-div i {
  margin-top: 6%;
  font-size: 24px;
  cursor: pointer;
}

.h-apps-div i:hover {
  font-size: 26px;
}

@media (min-width: 724px) {
  header {
    width: 70%;
    position: absolute;
  }

  .h-logo-div h3 {
    color: white;
  }
    .h-logo-div h5 {
      color: white;
    }
    .h-apps-div i {
      color: white;
    }
    

  .h-apps-div {
    width: 15%;
  }
}

/*************** banner ***************/
.banner-img {
  /* display: none; */
  margin-top: 2%;
  width: 95%;
}

@media (min-width: 724px) {
  .banner-img {
    display: block;
    margin: 0;
    width: 100%;
  }
}

/*************** knowledges ***************/
.knowledge-main-div {
  width: 95%;
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
}

.knowledge-title {
  width: 100%;
}

/* Back */

.knowledge-tech-div {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-title {
  width: 100%;
}

.knowledge-tech-main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* --- */
.technologie-div {
  width: 70%;
  display: flex;
  padding: 2%;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.technologie-div:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.tech-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.tech-img img {
  width: 100%;
}

.tech-name {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-name h6 {
  font-size: 20px;
}

/* --- */

@media (min-width: 724px) {
  .knowledge-main-div {
    width: 70%;
    border-top: none;
  }

  .knowledge-tech-main-div {
    flex-direction: row;
  }
}

/*************** certificates ***************/
.main-certificates-div {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.certificates-title {
  width: 100%;
  margin-top: 2%;
}

.certificates-arrows-div {
  display: none;
}

.certificates-info-div-short {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificates-info-div-short-hidden {
  display: none;
}

.certificates-info-div-long {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificates-info-div-long-hidden {
  display: none;
}

/* --- */
.certificates-div {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.certificates-div:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.certificates-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.certificates-img img {
  width: 100%;
  border: 1px solid black;
}

.certificates-name-year-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.certificates-name-year-div h6 {
  margin: 2% 2%;
  font-size: 20px;
}

.certificates-name-year-div p {
  margin: 0 2% 2%;
  font-size: 20px;
}

.certificates-see-more-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.certificates-see-more-div p {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.certificates-see-more-div p:hover {
  font-weight: 600;
}

/* --- */


@media (min-width: 724px) {
  .main-certificates-div {
    width: 70%;
  }

  .certificates-info-div-short {
    display: none;
  }

  .certificates-see-more-div {
    display: none;
  }

  .certificates-info-div-long-hidden,
  .certificates-info-div-long {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    scroll-behavior: smooth;
  }

  .certificates-container {
    position: relative;
  }

  .certificates-arrows-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .certificates-arrows-content-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 10;
  }

  .certificates-arrows-content-div:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
  }

  .certificates-arrows-content-div:hover p {
    font-weight: 600;
  }

  .certificates-scroll-container {
    overflow-x: scroll;
  }

  .certificates-div {
    flex: 0 0 auto;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
  }

  .certificates-img img {
    width: 100%;
    height: auto;
  }

  .certificates-name-year-div {
    background-color: #f0f0f0;
    text-align: center;
  }

  .certificates-scroll-container::-webkit-scrollbar {
    display: none;
  }

  .certificates-arrows-content-div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .certificates-arrows-content-div:first-child {
    left: -5%;
  }

  .certificates-arrows-content-div:last-child {
    right: -5%;
  }

}

/*************** projects ***************/
.main-projects-div {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.projects-title {
  width: 100%;
  margin-top: 2%;
}

.projects-info-div-long {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-div {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.projects-div:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.projects-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projects-img img {
  width: 100%;
  border: 1px solid black;
}

.projects-name-year-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.projects-name-year-div h6 {
  margin: 2% 2%;
  font-size: 20px;
}

.projects-name-year-div p {
  margin: 0 2% 2%;
  font-size: 20px;
}

@media (min-width: 724px) {
  .main-projects-div {
    width: 70%;
  }

  .projects-info-div-long {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .projects-div {
    flex: 0 0 auto;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
  }

  .projects-img img {
    width: 100%;
    height: auto;
  }

  .projects-name-year-div {
    background-color: #f0f0f0;
    text-align: center;
  }

}

/*************** contact ***************/
.main-contact-div{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-title{
  width: 100%;
  margin-top: 2%;
}
.contact-form {
  width: 100%;
  margin: 40px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-message {
  width: 90%;
  padding: 2%;
  margin: 2% 0;
  height: 8rem;
  border-radius: 5px;
  border: 1px solid grey;

}

.contact-info-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info-div-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-name,
.input-email,
.input-phone {
  width: 90%;
  padding: 2%;
  height: 2rem;
  margin: 2% 0;
  border-radius: 5px;
  border: 1px solid grey;
}

.input-name {
  text-transform: capitalize;
}

.contact-submit-button-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.send-button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  height: 2rem;
  margin: 2% 0;
  border-radius: 5px;
  border: 1px solid grey;
  transition: transform 0.3s, box-shadow 0.3s, background-color;
  cursor: pointer;
}

.send-button:hover {
  transform: translateX(-5px);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
  background-color: blue;
  color: white;
  font-weight: 600;
}

@media (min-width: 724px) {
  .main-contact-div{
    width: 70%;
  }
  .contact-form {
    flex-direction: row;
    align-items: flex-start;
  }

  .message-div {
    width: 50%;
    align-items: flex-start;
  }

  .input-message {
    height: 12rem;
  }

  .contact-info-div {
    width: 50%;
  }


}

/*************** footer ***************/
footer{
  width: 95%;
  border-top: 1px black solid;
}
footer h6{
  width: 100%;
  text-align: start;
  margin-left: 5%;
  font-size: 16px;
}