* {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

body {
  width: 100vw;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

/*************** header ***************/
header {
  width: 95%;
  display: flex;
  margin-bottom: 1%;
  justify-content: space-between;
  position: fixed;
}

.h-logo-div h3 {
  margin: 6% 0;
}

.h-logo-div h5 {
  margin: 0%;
}

.h-apps-div {
  width: 40%;
  display: flex;
  justify-content: space-between;
  z-index: 7;
}

.h-apps-div i {
  margin-top: 6%;
  font-size: 24px;
  cursor: pointer;
}

.h-apps-div i:hover {
  font-size: 26px;
}

@media (min-width: 724px) {
  header {
    width: 70%;
    /* position: absolute; */
  }

  .h-logo-div h3 {
    color: black;
  }

  .h-logo-div h5 {
    color: black;
  }

  .h-apps-div i {
    color: black;
  }


  .h-apps-div {
    width: 15%;
  }
}

/*************** banner ***************/
.banner {
  width: 95%;
  padding: 2%;
  display: flex;
}

.banner-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img img {
  width: 50%;
}

.banner-info.mob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.banner-info.dek {
  display: none;
}

.banner-info h1 {
  color: black;
  margin: 1% 0;
}

.banner-info h3 {
  color: black;
  margin: 1% 0;
}

.banner-info a {
  color: black;
  margin: 1% 0;
}

@media (min-width: 724px) {
  .banner {
    width: 100%;
    height: 40vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(130, 130, 148, 1) 35%, rgba(235, 235, 235, 1) 100%);
    justify-content: space-around;
  }

  .banner-img {
    height: 100%;
    width: 20%;
  }

  .banner-img img {
    width: auto;
    height: 100%;
  }

  .banner-info.mob {
    display: none;
  }

  .banner-info.dek {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 60%;
  }

  .banner-info h1 {
    color: white;
    width: 100%;
    font-size: 30px;
    margin: 0;
  }

  .banner-info p {
    color: white;
    width: 100%;
    font-size: 20px;
    margin: 0;
  }

  .banner-info a {
    color: white;
    font-size: 20px;
    margin: 0;
  }

}

/*************** knowledges ***************/
.knowledge-main-div {
  width: 95%;
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
}

.knowledge-title {
  width: 100%;
}

/* Back */

.knowledge-tech-div {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-title {
  width: 100%;
}

.tech-title h4 {
  font-size: 20px;
}

.tech-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.knowledge-tech-main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* --- */
.technologie-div {
  width: 70%;
  display: flex;
  padding: 2%;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.technologie-div:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.tech-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.tech-img img {
  width: 100%;
}

.tech-name {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-name h6 {
  font-size: 20px;
}

/* --- */

@media (min-width: 724px) {
  .knowledge-main-div {
    width: 70%;
    border-top: none;
  }

  .tech-row {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .technologie-div {
    width: 30%;
    margin: 0 2%;
  }
}

@media (min-width: 1024px) {
  .technologie-div {
    width: 20%;
  }
}

/*************** certificates ***************/
.main-certificates-div {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.certificates-title {
  width: 100%;
  margin: 10% 0 5%;
}

.certificates-title h2 {
  margin: 0;
}

.certificates-arrows-div {
  display: none;
  padding: 0;
}

.certificates-info-div-short {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificates-info-div-short-hidden {
  display: none;
}

.certificates-info-div-long {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificates-info-div-long-hidden {
  display: none;
}

/* --- */
.certificates-div {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.certificates-div:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.certificates-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.certificates-img img {
  width: 100%;
  border: 1px solid black;
}

.certificates-name-year-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.certificates-name-year-div h6 {
  margin: 2% 2%;
  font-size: 20px;
}

.certificates-name-year-div p {
  margin: 0 2% 2%;
  font-size: 20px;
}

.certificates-see-more-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.certificates-see-more-div p {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.certificates-see-more-div p:hover {
  font-weight: 600;
}

/* --- */


@media (min-width: 724px) {
  .main-certificates-div {
    width: 70%;
  }

  .certificates-title {
    margin: 10% 0 0;
  }

  .certificates-info-div-short {
    display: none;
  }

  .certificates-see-more-div {
    display: none;
  }

  .certificates-info-div-long-hidden,
  .certificates-info-div-long {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    scroll-behavior: smooth;
  }

  .certificates-container {
    position: relative;
  }

  .certificates-arrows-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .certificates-arrows-content-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 5;
  }

  .certificates-arrows-content-div:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
  }

  .certificates-arrows-content-div:hover p {
    font-weight: 600;
  }

  .certificates-scroll-container {
    overflow-x: scroll;
  }

  .certificates-div {
    flex: 0 0 auto;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
  }

  .certificates-img img {
    width: 100%;
    height: auto;
  }

  .certificates-name-year-div {
    background-color: #f0f0f0;
    text-align: center;
  }

  .certificates-scroll-container::-webkit-scrollbar {
    display: none;
  }

  .certificates-arrows-content-div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .certificates-arrows-content-div:first-child {
    left: -5%;
  }

  .certificates-arrows-content-div:last-child {
    right: -5%;
  }

}

/*************** projects ***************/
.main-projects-div {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.projects-title {
  width: 100%;
  margin: 10% 0 5%;
}

.projects-title h2 {
  margin: 0;
}

.projects-arrows-div {
  display: none;
  padding: 0;
}

.projects-info-div-short {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-info-div-short-hidden {
  display: none;
}

.projects-info-div-long {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-info-div-long-hidden {
  display: none;
}

/* --- */
.projects-div {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.projects-div:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.projects-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projects-img img {
  width: 100%;
  border: 1px solid black;
}

.projects-name-year-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.projects-name-year-div h6 {
  margin: 2% 2%;
  font-size: 20px;
}

.projects-name-year-div p {
  margin: 0 2% 2%;
  font-size: 20px;
}

.projects-see-more-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.projects-see-more-div p {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.projects-see-more-div p:hover {
  font-weight: 600;
}

.projects-git-link-div {
  display: none;
}

.projects-git-link-div-mobile {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.projects-link-div-mobile {
  display: flex;
  margin: 5% 0;
}


@media (min-width: 724px) {
  .main-projects-div {
    width: 70%;
  }

  .projects-title {
    margin: 10% 0 0;
  }

  .projects-info-div-short {
    display: none;
  }

  .projects-see-more-div {
    display: none;
  }

  .projects-info-div-long-hidden,
  .projects-info-div-long {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    scroll-behavior: smooth;
  }

  .projects-container {
    position: relative;
  }

  .projects-arrows-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .projects-arrows-content-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 5;
  }

  .projects-arrows-content-div:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
  }

  .projects-arrows-content-div:hover p {
    font-weight: 600;
  }

  .projects-scroll-container {
    overflow-x: scroll;
  }

  .projects-div {
    flex: 0 0 auto;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
  }

  .projects-img img {
    width: 100%;
    height: auto;
  }

  .projects-name-year-div {
    background-color: #f0f0f0;
    text-align: center;
    flex-direction: row;
    align-content: space-between;
  }

  .projects-name-year-info {
    width: 50%;
  }

  /* 
  .projects-scroll-container::-webkit-scrollbar {
    display: flex;
  } */

  .projects-arrows-content-div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .projects-arrows-content-div:first-child {
    left: -5%;
  }

  .projects-arrows-content-div:last-child {
    right: -5%;
  }

  .projects-git-link-div-mobile {
    display: none;
  }

  .projects-git-link-div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projects-git-link-div i {
    font-size: 30px;
    margin-top: 15%;
    transition: color 0.3s;
  }

  .projects-options {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    z-index: 1;
  }

  .projects-options:hover {
    display: block;
  }

  .projects-options option:hover {
    background-color: gray;
    color: white;
  }

  .projects-git-link-div i:hover+.projects-options {
    display: block;
  }
}

/*************** contact ***************/
.main-contact-div {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  width: 100%;
  margin-top: 2%;
}

.contact-form {
  width: 100%;
  margin: 40px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-message {
  width: 90%;
  padding: 2%;
  margin: 2% 0;
  height: 8rem;
  border-radius: 5px;
  border: 1px solid grey;

}

.contact-info-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info-div-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-name,
.input-email,
.input-phone {
  width: 90%;
  padding: 2%;
  height: 2rem;
  margin: 2% 0;
  border-radius: 5px;
  border: 1px solid grey;
}

.input-name {
  text-transform: capitalize;
}

.contact-submit-button-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.send-button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  height: 2rem;
  margin: 2% 0;
  border-radius: 5px;
  border: 1px solid grey;
  transition: transform 0.3s, box-shadow 0.3s, background-color;
  cursor: pointer;
}

.send-button:hover {
  transform: translateX(-5px);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
  background-color: blue;
  color: white;
  font-weight: 600;
}

@media (min-width: 724px) {
  .main-contact-div {
    width: 70%;
  }

  .contact-form {
    flex-direction: row;
    align-items: flex-start;
  }

  .message-div {
    width: 50%;
    align-items: flex-start;
  }

  .input-message {
    height: 12rem;
  }

  .contact-info-div {
    width: 50%;
  }


}

/*************** footer ***************/
footer {
  width: 95%;
  border-top: 1px black solid;
}

footer h6 {
  width: 100%;
  text-align: start;
  margin-left: 5%;
  font-size: 16px;
}