<div class="main-contact-div">
    <div class="contact-title">
        <h2>Contact Me</h2>
    </div>
    <form class="contact-form">
        <div class="message-div">
            <input rows="4" cols="50" type="text" name="message" id="" class="input-message" placeholder="Message...">
        </div>
        <div class="contact-info-div">
            <div class="contact-info-div-inputs">
                <input type="text" name="name" id="" class="input-name" placeholder="Name">
                <input type="email" name="email" id="" class="input-email" placeholder="Email">
                <input type="number" name="phone" id="" class="input-phone" placeholder="Phone">
            </div>
            <div class="contact-submit-button-div">
                <button class="send-button">Send</button>
            </div>
        </div>
    </form>
</div>