<header>
    <div class="h-logo-div">
        <h3>Nicolas Lain Portfolio</h3>
        <h5>Full Stack Web Developer</h5>
    </div>
    <div class="h-apps-div">
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-solid fa-envelope"></i>
        <i class="fa-brands fa-discord"></i>
    </div>
</header>